.footer {
background-color: var(--footer-color); 
padding: 60px 0;
}
.footer-container {
// display: flex;  
// align-items: baseline;  
}
.footer .logo-container .block-mail-container {
display: inline-block;
}
.footer-logo {
display: inline-block;
color: var(--bg-color); 
margin-bottom: 20px;
}
.accent {
 color: var(--accent-color);   
}
.address {
display: block; 
justify-items: flex-start;   
}
.footer-items:not(:last-child) {
margin-bottom: 9px;    
}
.footer-links {
font-style: normal;
color: var(--bg-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
color: var(--accent-color); }
}
.footer-address {
color: rgba(255, 255, 255, 0.6);    
}
.soc-container {
display: inline-block;
margin-left: 70px;
}
.soc-team {
font-weight: 700;
line-height: 1.16;
text-transform: uppercase;    
color: var(--second-text-color); 
margin-bottom: 20px; 
text-align: left;
}
.social-list {
    @extend %flex-align-justify;
min-width: 206px;  
}
.social-link {
width: 44px;   
height: 44px; 
&:not(:last-child) {
margin-right: 10px;  }
}
.social-item {
width: 100%;    
height: 100%;
@extend %flex-align-justify;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
color: var(--second-text-color);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover {
background-color: var(--accent-color); }
}
.social-icons {
fill: currentColor;    
}
.block-mail-container {
margin-left: auto;
}
.footer-blok {
// display: flex;
// flex-direction: row;
// justify-content: space-between;
width: 570px; 
}
.block-mail { 
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
color: var(--second-text-color);
}
.footer-input {
width: 358px;    
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background: var(--footer-color);
padding-top: 15px;
padding-bottom: 15px;
padding-left: 16px;
margin-top: 20px;
color: var(--second-text-color);
&::placeholder {
font-size: 16px;
line-height: 1.25;  
color: rgba(255, 255, 255, 0.6); }
}
.block-button {
display: flex;  
align-items: flex-end;   
}
.footer-button {
    @extend %flex-align-justify;
width: 200px;
height: 50px;
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: transparent;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
padding: 10px 28px;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
color: var(--second-text-color);
margin-left: 10px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
background-color: var(--accent-color); }
}
.icons-send {
margin-left: 13px;   
}