.header .container {
    @extend %flex-align;  
    position: relative;  
    }   
    .header__header-logo {
    color: var(--logo-color); 
    // padding-top: 24px; 
    // padding-bottom: 25px;
    display: block;  
    // margin-right: 15px;
    @media screen and (max-width: 767px) {
    padding: 16px 0px;
    }
    }

// .mobile-menu {
//     display: none;
// position: absolute;   
// top: 100%; 
// left: 0;
// width: 100%;
// background-color: aquamarine;
// padding: 20px;
// height: 600px;
// &.js-menu-container {
//     display: block;   }
// }

.header__toggle {
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &:hover,
    &:focus {
      fill: var(--accent-color);   
    }
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_item-icon {
    width: 40px;
height: 40px;
}
.menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 796px;
        padding: 48px;
        background-color:aqua ;
        z-index: 999;

        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
 
 .menu-container.is-open {
    transform: translateX(0);
  }
 .menu-container .header__toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
  }
  
    .header__accent {
    color:var(--accent-color) ;
    }    
    .navigation__current {
    color: var(--accent-color); 
    } 
    .navigation {
    padding: 28px 0; 
    @media screen and (max-width: 767px) {
        display: none;    
        } 
    }
    .navigation__cur-h::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    }
    .navigation__cur-p::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    }
    .navigation__list,
    .contact__list {
        @extend %flex-align;
    }
    .navigation__list .link,
    .contact__list .link {
    padding-top: 32px;   
    padding-bottom: 32px; 
    }
    .navigation__list > li:not(:last-child){
    margin-right: 50px;    
    }
.navigation__links {
color: var(--primary-color);
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
color: var(--accent-color);
fill: var(--accent-color);  }
}    
.contact__list .contact__link {
    @extend %flex-align; 
color: var(--second-color);
}
.contact {
margin-left: auto;
@media screen and (max-width: 767px) {
    display: none;    
    }
}
.contact__link{
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
&:hover,
&:focus {
color: var(--accent-color);
fill: var(--accent-color);  }    
}
.contact__icon-mail {
width: 16px; 
height: 12px; 
margin-right: 10px;
fill: currentColor;
}
.contact__icon-tel {
width: 10px; 
height: 16px; 
margin-right: 10px;
fill: currentColor;
}
.contact__tel {
margin-left: 50px; 
}
    