.bort {
border-bottom: 1px solid var(--second-border-color);
}
.current {
color: var(--accent-color);    
}
.element {
margin-bottom: 40px;
display: flex;  
flex-wrap: wrap;
align-items: baseline;
 @media screen and (min-width: 768px) {
    justify-content: center; 
    margin-bottom: 30px;
 }
 @media screen and (min-width: 1200px) {
    justify-content: center; 
    margin-bottom: 50px;
 }
}
.element__item:not(:last-child) {
margin-right: 8px;  
margin-bottom: 15px;
}
.element__btn {
display: inline-block;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
cursor: pointer;
color: var(--primary-color);
    
border: 1px solid transparent;
border-radius: 4px;
padding: 6px 22px;
min-width: 73px;
height: 38px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
color: var(--second-text-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
background-color: var(--btn-color); }
}



.portfolio {
    @media screen and (min-width: 1200px) {    
display: flex;  
flex-wrap: wrap;
margin: -15px; 
}
@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
}
.portfolio__item:not(:last-child) {
    @media screen and (max-width: 767px) {
    margin-bottom: 30px;
}
} 
.portfolio__item {
   @media screen and (max-width: 767px) {
width: 450px;
}
@media screen and (min-width: 768px) {
flex-basis: calc((100% - 2 * 30px) / 2);
margin: 15px;
}
@media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
}
}
.portfolio__thumb {
position: relative;
overflow: hidden;
}
.portfolio__cover-text {
position: absolute;
top: 0;
font-weight: 400;
font-size: 18px;
line-height: 1.55;
color: var(--second-text-color);
background-color: rgba(33, 150, 243, 0.9);
padding: 63px 24px;
height: 100%;
    
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
@media screen and (max-width: 767px) {
    padding: 77px 24px;    
}
}
.portfolio__item:hover .portfolio__cover-text{
transform: translateY(0);    
}
.portfolio__tehrk {
    @media screen and (min-width: 768px)   {
display: flex;
flex-direction: column;
height: 100%;
 }
display: block;   
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
background-color: var(--bg-color);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}  }
.name {
padding: 20px 24px;
background: var(--second-text-color);
border-bottom: 1px solid var(--border-color);
border-left: 1px solid var(--border-color);
border-right: 1px solid var(--border-color);
@media screen and (min-width: 768px) {
    flex-grow: 1;
}
}
.name__text {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-color);    
margin-bottom: 4px;
}
.name__info {
font-size: 16px;
line-height: 1.88;
color: var(--second-color);    
}
